/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 50;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-width: 50 px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    color: #333;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border-width: 5px;
  }
  
  button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    border-bottom: 1px solid #ddd;
    padding: 10px;
  }
  
  li:last-child {
    border-bottom: none;
  }
  
  strong {
    font-weight: bold;
    color: #333;
  }
  
  /* DatePicker styles (you might need to customize this based on your DatePicker library) */
  .react-datepicker-wrapper {
    width: 100%;
  }
  
  .react-datepicker__input-container {
    width: 100%;
  }
  
  .react-datepicker__input-container input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
  